<div class="overlay-intro"></div>
<section id="home" class="article">
    <div class="content">
        <div class="text-wraper ms-5">
            <h1 class="display-5 fw-bold hero-title">Artikel News Asix</h1>       
           
        </div>
  <div class="article-content" >
   
        <div class="row mt-4">
            <div class="col-md-3">
                <a routerLink="1" [queryParams]="{judul:'ISHG Anjlok'}">
                    <div class="card" style="width: 16rem;">
                        <img src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-black-na">ISHG Anjlok</h5>
                          <p class="card-text text-black-na">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </a>
                
            </div>
            <div class="col-md-3">
                <a routerLink="2" [queryParams]="{judul:'Bursa Efek Bangkrut'}">
                    <div class="card" style="width: 16rem;">
                        <img src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-black-na">Bursa Efek Bangkrut</h5>
                          <p class="card-text text-black-na">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </a>
                
            </div>
            <div class="col-md-3">
                <a routerLink="3" [queryParams]="{judul:'Atta beli 10 Bitcoin'}">
                    <div class="card" style="width: 16rem;">
                        <img src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-black-na">Atta beli 10 Bitcoin</h5>
                          <p class="card-text text-black-na">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </a>
                
            </div>
            <div class="col-md-3">
                <a routerLink="4" [queryParams]="{judul:'Muncul Koin Naruto'}">
                    <div class="card" style="width: 16rem;">
                        <img src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-black-na">Muncul Koin Naruto</h5>
                          <p class="card-text text-black-na">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </a>
                
            </div>
      
     
   </div>
    
  </div>
  </div>

  
  


<svg class="wave"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC4C4" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,165.3C480,160,600,160,720,186.7C840,213,960,267,1080,277.3C1200,288,1320,256,1380,240L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>
