<div class="overlay-intro"></div>
<section id="home" class="hero">
  <div class="row content position-absolute  start-0 " >
    <div class="hero-text col-lg-9">
      <div class="text-wraper ms-5">
        <h1 class="display-5 fw-bold hero-title">Finacial Freedom</h1>       
        <p class="lead mb-4 hero-subtitle">News Asix adalah aplikasi untuk kamu yang ingin berdiskusi,
          analisa dan media informasi pasar modal dalam satu tempat.</p>
    </div>
    <button class="btn btn-primary-na ms-5 ">Daftar</button>
   </div>
    <div class="hero-image col-lg-3">
        <img src="./assets/images/beranda/hero.svg" width="400" alt="phone trade">
      </div>
  </div>

  <svg class="position-absolute bottom-0 start-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC4C4" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,218.7C384,235,480,245,576,229.3C672,213,768,171,864,176C960,181,1056,235,1152,266.7C1248,299,1344,309,1392,314.7L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  
</section>
