<div class="overlay-intro"></div>
<section id="home" class="about">
    <div class="content">
        <div class="text-wraper ms-5">
            <h1 class="display-5 fw-bold hero-title">News Asix</h1>       
            <p class="lead mb-4 hero-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perferendis aperiam quae labore itaque ipsam rem dolorem eaque placeat maiores consectetur nesciunt voluptate, accusamus mollitia recusandae corrupti ex fugiat repellat sit quibusdam autem dolore porro cum sunt. Nostrum, est iure.</p>
        </div>
  <div class="row" >
    <div class="about-text col-lg-9">
      <div class="about-wraper ms-5">
        <div class="row">

            <div class=" col-md-3 about-sidebar">
                <ul>
                    <a routerLink="visi" ><li >Visi</li></a>
                    <a routerLink="misi" ><li >Misi</li></a>
                    <a routerLink="motto" ><li >Motto</li></a>
                  
                </ul>
    
            </div>
            <div class=" col-md-9 about-content">
                <div class="bg-secondary-na content-outlet">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
       
    </div>
   </div>
    <div class="about-image col-lg-3">
        <img src="./assets/images/about/about.svg" width="400" alt="phone trade">
      </div>
  </div>
  </div>

  
  


<svg class="wave"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC4C4" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,165.3C480,160,600,160,720,186.7C840,213,960,267,1080,277.3C1200,288,1320,256,1380,240L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>
